body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar ul li a:hover {
    color: #FFD700;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background: url('back.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff8000;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section {
    padding: 100px 20px;
    height: 100vh;
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #e4e4e4;
}

#services {
    background-color: #d4d4d4;
}

#contact {
    background-color: #c4c4c4;
}
