/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: rgb(255, 149, 0);
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.scrolled {
    background-color: #444 !important;
}

#content {
    margin-top: 60px;
    padding: 20px;
}

section {
    height: 100vh;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
